<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rickosborne.tubetastic.android"
    android:installLocation="auto"
    android:versionCode="4"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_title"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.rickosborne.tubetastic.android.SplashActivity"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.rickosborne.tubetastic.android.GameActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_title" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.rickosborne.tubetastic.android.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="org.rickosborne.tubetastic.android.SplashActivity"
		    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rickosborne.tubetastic.android.SplashActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.rickosborne.tubetastic.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.rickosborne.tubetastic.android.SplashActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rickosborne.tubetastic.android.SplashActivity" />
	        <intent-filter>
		        <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
        </activity>
    </application>

</manifest>
